@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+Thai:wdth,wght@62.5..100,100..900&display=swap");

@import "tailwindcss";

@theme {
	--font-noto: "Noto Sans Thai", sans-serif;
	--font-adlam: "ADLaM Display", system-ui;
	--color-primary_text: "#000000";
	--color-secondary_text: "#FFFFFF";
	--color-logo_text: "#FFFFFF";
	--color-background: "#E5E7EB";
	--color-component_bakcground: "#FFFFFF";
	--color-primary_button: "#1C3FB7";
	--color-secondary_button: "#9CA3AF";
}
